.order {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  background: #fff;
}

.order .order_box {
  width: 100%;
  height: 400px;
  background: #fff;
}

.order .order_box .order_img {
  line-height: 400px;
  text-align: center;
  position: relative;
}

.order .order_box .order_img img {
  width: 45%;
  border-radius: 50%;
}

.order .order_box .order_img p {
  height: 10px;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 35%;
}

.order .order_box .but {
  margin: 0px 20%;
  text-align: center;
}

.order .order_box .but .but_p {
  background: #f8b44d;
}

.order .order_box .but p {
  display: block;
  height: 40px;
  width: 100%;
  background: #fff;
  line-height: 40px;
  margin-top: 20px;
  border-radius: 20px 20px;
  border: 1px solid #eee;
  color: #000;
}
