#list {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #fff;
}

#list .header {
  box-sizing: border-box;
  border-bottom: 1px solid #ddd;
}

#list .header .search {
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#list .header .search .goback {
  font-size: 20px;
}

#list .header .search .goback svg {
  width: 2em;
}

#list .header .search .search-btn {
  height: 32px;
  width: 282px;
  background: #eee;
  display: flex;
  align-items: center;
  border-radius: 32px;
  box-sizing: border-box;
  padding: 0 10px;
  color: #363636;
}

#list .header .search .search-btn span {
  margin-left: 10px;
  font-size: 14px;
}

#list .header .search .type {
  font-size: 20px;
}

#list .header .search .type svg {
  width: 2em;
}

#list .header .nav {
  height: 44px;
  display: flex;
}

#list .header .nav .nav-list {
  margin: 5px 0;
  flex: 1;
  height: 34px;
  font-size: 16px;
  position: relative;
  line-height: 34px;
  text-align: center;
}

#list .header .nav .nav-list::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 6px solid #363636;
  position: absolute;
  top: 50%;
  margin-top: -3px;
  margin-left: 4px;
}

#list .content {
  flex: 1;
  overflow: auto;
}

#list .content .goods {
  margin: auto;
  width: 332px;
  padding: 24px 0;
  position: relative;
  border-bottom: 1px solid #ddd;
}

#list .content .goods .item-img {
  width: 100%;
  height: 218px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

#list .content .goods .item-img img {
  height: 100%;
  width: 100%;
}

#list .content .goods .item-img .img-tip-mask {
  width: 100%;
  height: 30px;
  background: #363636;
  opacity: .5;
  position: absolute;
  bottom: 0;
}

#list .content .goods .item-img .start-city {
  position: absolute;
  bottom: 0;
  left: 12px;
  line-height: 30px;
  color: #fff;
}

#list .content .goods .item-img .count {
  position: absolute;
  bottom: 0;
  right: 12px;
  line-height: 30px;
  color: #fff;
}

#list .content .goods .item-info .product-name {
  font-weight: 700;
  color: #363636;
  font-size: 15px;
  margin: 12px 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

#list .content .goods .price-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

#list .content .goods .price-wrap .list-tag {
  display: flex;
}

#list .content .goods .price-wrap .list-tag .tag {
  color: #fff;
  height: 20px;
  padding: 0 6px;
  display: block;
  font-size: 12px;
  line-height: 20px;
  border-radius: 2px;
  background-image: #fe855d;
  margin-right: 6px;
  background-image: -webkit-linear-gradient(left, #fe855d, #fe767e, #ff7188);
}

#list .content .goods .price-wrap .price {
  color: #666;
  font-size: 12px;
}

#list .content .goods .price-wrap .price span {
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  color: #fb5f10;
  margin-right: 4px;
}

#list .content .goods .special-price {
  position: absolute;
  font-size: 13px;
  color: #777;
  right: 0;
  text-decoration: line-through;
}
