* {
    margin: 0;
    padding: 0;
}

a {
    color: #242424;
}

.footer {
    z-index: 999;
}

.title {
    font-size: 18px;
    font-weight: 700;
    display: block;
    z-index: 0;
    overflow: hidden;
    min-width: 30px;
    height: 6.5%;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 17px;
    font-weight: 500;
    line-height: 44px;
    box-shadow: 0 1px 2px rgba(88, 88, 88, 0.1);

    h4 {
        font-size: 18px;
        font-weight: 700;
    }
}

.ant-tabs-navcfg {
    width: 27% !important;
    background-color: #eee;
    z-index: 10;
    overflow-y: scroll;
}

.discover-area-item {
    height: 48px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #363636;
    font-size: 16px;
    box-sizing: border-box;
    text-align: center;
}

.item-active {
    font-size: 16px;
    font-weight: 700;
    background-color: #fff;
    border-left: 4px solid #0090F3;
}




.discover-city-item {
    display: block;
    width: 46.5%;
    height: 9.6vw;
    line-height: 9.6vw;
    margin-bottom: 16px;
    background-color: #eee;
    border-radius: 2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    float: left;
}

.discover-city-item:nth-child(2n+1) {
    margin-left: 12px;
}

.discover-city-item-active {
    color: #ff5400;
}

.bigbox {
    overflow: hidden;

    .ant-tabs.ant-tabs-left.ant-tabs-vertical.ant-tabs-card.ant-tabs-no-animation {
        width: 100%;
    }

    .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab {
        border: none;
        height: 100%;
        background: #eee;
        border-radius: 0 0 0 0;
        text-align: left;
        position: relative;
        font-size: 16px;
    }

    .ant-tabs .ant-tabs-left-bar {
        width: 27%;
        overflow-y: scroll;
        height: 630px;

    }

    .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active {
        color: #000;
        background: #fff;
        height: 50px;
        line-height: 50px;
    }



    .ant-tabs-vertical.ant-tabs-card.ant-tabs-left .ant-tabs-card-bar.ant-tabs-left-bar .ant-tabs-nav-wrap {
        background: #eee;
        height: 660px;
        margin-top: 2px;
    }

    .ant-tabs .ant-tabs-left-content {
        padding: 17px 3.2vw 0;
        height: 570px;
        overflow: auto;
    }

    .ant-tabs-tab-active.ant-tabs-tab {
        font-size: 16px;
        font-weight: 700;
        background-color: #fff;
        border-left: 4px solid #0090F3;
    }

    .ant-tabs.ant-tabs-card .ant-tabs-card-bar .ant-tabs-tab-active::after {
        left: 0px;
        content: "";
        width: 3px;
        height: 100%;
        background: #0090F3;
        display: block;
        position: absolute;
        top: 0px;
    }

    .ant-tabs-vertical.ant-tabs-card.ant-tabs-left .ant-tabs-card-bar.ant-tabs-left-bar .ant-tabs-tab {
        height: 50px;
        line-height: 50px;
    }

    .ant-tabs-vertical.ant-tabs-card .ant-tabs-card-bar.ant-tabs-left-bar .ant-tabs-nav-container {
        height: 705px;
    }

    // .bigbox .ant-tabs-vertical.ant-tabs-card.ant-tabs-left .ant-tabs-card-bar.ant-tabs-left-bar .ant-tabs-tab::after{
    //     left: 0px;
    //     width: 3px;
    //     background: #0090F3;
    //     display: flex;
    //     font-size: 16px;
    //     justify-content: center;
    //     align-items: center;
    // }

}